<ul>
	<li>
		<a routerLink="/" routerLinkActive="active">Home</a>
	</li>
	<li>
		<a routerLink="/one" routerLinkActive="active">two Component</a>
	</li>
	<li>
		<a routerLink="/two" routerLinkActive="active">three Component</a>
	</li>
</ul>
<form [formGroup]="myForm" class="todo-form">
	<label for="name">
		name:
		<input type="text" id="name" formControlName="name" /></label>
	<br /><br />
	<label for="lastname">
		lastname:
		<input type="text" id="lastname" formControlName="lastname" /></label>
</form>

<pre>{{myForm.getRawValue() | json}}</pre>

<router-outlet></router-outlet>
